# PostgreSQL connection URL (e.g., Matbao Postgres)
DATABASE_URL="postgresql://user_d673194c3ebf:x8OxAMrZOZTtrQFN49UMGUcq87D1HIaf@vays-db-746421e2-postgresql-5432/db_name?schema=public"

# Secret key for JWT signing (Minimum 32 characters)
JWT_SECRET="lumierespa-jwt-secret-key-2026"

# Next.js environment
NODE_ENV="development"
